tts_models:
  multispeaker:
    model_path: models/multispeaker # the directory that contains a yaml and hdf5 files for the model
    frontend: 'est'
    speakers: # a mapping of speaker names as they will be used in routing keys and speaker-ids in the model
      albert: 1
      indrek: 2
      kalev: 3
      kylli: 4
      liivika: 5
      mari: 6
      meelis: 7
      peeter: 8
      tambet: 9
      vesta: 10
  # single-speaker example:
  #  mari:
  #    model_path: models/mari
  #    frontend: 'est'
  #    speakers:
  #      mari: 0